body {
    background-color: #f0f0f0;
}

#TableContainer {
    display: flex;
    align-self: center;
    border-collapse: collapse;
    width: 50%;
}

#TableContainer th,

#TableContainer td {
    border: 1px solid black;
    padding: 8px;
}
