#LoginContainer {
    display: flex;
    height: 300px;
    max-width: 500px;
    margin-left:30%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(30, 30, 30);
    color: white;
    border-radius: 35px;
}

input {
    height: 25px;
    background-color:rgb(30, 30, 30);
    color: white;
    border: 1px white solid;

}

background-image {
    filter: blur(5px);
}